body {
    color: #000004;
    background-color: #78FFE5;
    margin: 0 auto;
    font-size: 25;
    width: 100%;
    max-width: 1000px;
}
p {
    margin: 10px;
}
figcaption {
    font-style: italic;
    font-size: 20;
    text-align: center;
}
header h1 {
    text-align: center;
    padding-top: 60px;
}
header h2, h3 {
    margin: 8px;
}
header,
main,
footer {
	background-color: #ddd;
}
img {
	width: 100%;
	max-width: 100%;
}
img.special {
    width: 50%;
    max-width: 50%;
    padding-left: 300px;
}
#extra_special {
    width: 75%;
    max-width: 75%;
    padding-left: 150px;
}